<div class="container">
<div><h3>大喜利初め</h3>とは</div>

<div>当サイト大喜利初めは、大喜利に興味のある人や大喜利をやってみたいと思っている方のために開設されました。</br>
     1日2回に分けて計4題のお題が投稿されます。</br>
     また面白いと思った回答に対しては☆マークを押していただき、それが得点となります。<br/>
     回答を投稿し☆の獲得数を競い合いましょう！！</div>
</div>