<div class="text-box container">
  <h3>初心者向け大喜利道場<strong>大喜利初めへようこそ</strong></h3>


  <h3>最新のお題</h3>
  <div>
    <%# image_tag("wakugumi", size: "600x400") %>
    <%# @themes.each do |theme| %>
      <%# theme.theme %>
    <%# end %>
  </div>

</div>