<div class="container">
  <h3>お題一覧</h3>
    <table class="table">
      <thead>
        <tr>
          <th>投稿時間</th>
          <th>お題</th>
          <th>回答件数</th>
        </tr>
      </thead>
      <% @themes.each do |theme| %>
      <tbody>
        <tr>
          <td><%= theme.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= theme.theme %></td>
          <td><%= link_to "#{theme.answers.count}", admin_theme_path(theme.id) %>件</td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <div><%= link_to "新しいお題を投稿する", new_admin_theme_path %></div>
</div>