<div class="container">
  <div class="row">
    <section>
        <h3>お題：<%= @answer.theme.theme %></h3>
          <div class="sketch">
            <div class="answer"><%= @answer.answer %></div>
          </div>
          <div class="bottom"></div>
      </section>
  </div>
</div>